/* -------fonts----------- */
@font-face{
    font-family: "Raleway-regular";
    src: url(../fonts/Raleway-Regular.ttf);
}
@font-face{
    font-family: "Raleway-mediam";
    src: url(../fonts/Raleway-Medium.ttf);
}
@font-face{
    font-family: "Raleway-bold";
    src: url(../fonts/Raleway-Bold.ttf);
}
@font-face{
    font-family: "Raleway-extrabold";
    src: url(../fonts/Raleway-ExtraBold.ttf);
}
@font-face{
    font-family: "Raleway-semibold";
    src: url(../fonts/Raleway-SemiBold.ttf);
}
@font-face{
    font-family: "Raleway-black";
    src: url(../fonts/Raleway-Black.ttf);
}


/* --color------- */
:root{
    --primary:#EEBF00;
    --secondary: #232b38;
    --ternary: #6c6c6c;
    --danger: #FE4545;
    --pure: #fefefe;
    --light: #f0f0f0;
    --heaven: #ffffff;
    --footer: #2d333f;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    -webkit-font-smoothing:antialiased;
    height: 4000px;
    font-family: "Raleway-regular";
}

.container{
    width: 100%;
    padding: 0 150px;
    margin: 0 auto;
}

@media (min-width:576){
    .container{
        max-width: 540px;
    }
}
@media (min-width:768){
    .container{
        max-width: 720px;
    }
}
@media (min-width:992){
    .container{
        max-width: 960px;
    }
}
@media (min-width:1200){
    .container{
        max-width: 1152px;
    }
}
.topbar{
    background: var(--secondary);
    color: var(--pure);
    font-family: "Raleway-semibold";
    padding: 0.75rem;
}
.topbar .auth div a{
    color: white;
    text-decoration: none;
}
.topbar .icons a{
    margin-right: 0.6rem;
}
.topbar .auth .divider{
    padding:0 1rem;
}
.topbar .auth div img{
    margin-right: 0.35rem;
}


/* EXTRA CLASS START */
.flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.items-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.text-center{
    text-align: center;
}
.flex-1{
    flex: 1;
}
.btn{
    padding: 0.75rem 0.75rem;
    border-radius: 4px;
    line-height: 0.8;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid transparent;
}
.btn-primary{
    background: var(--primary);
    color: var(--heaven);
}
.btn-primary:hover{
    background: var(--heaven);
    color: var(--primary);
    border: 1px solid var(--primary);
}
.btn-secondary{
    background: var(--secondary);
    color: var(--heaven);
}
.btn-secondary:hover{
    background: var(--heaven);
    color: var(--secondary);
    border: 1px solid var(--secondary);
}
/* EXTRA CLASS END */
.top{
    padding: 1.5rem 0;
}
.top .contact h5, .top .time h5{
    font-family: "Raleway-black";
    margin-bottom: 0.25rem;
}
 .top .contact h6, .top .time h6{
    font-family: "Raleway-medium";
    margin-bottom: 0.25rem;
    letter-spacing: 0.055rem;
    font-size: 0.75rem;
    color: var(--ternary);
}
.top .contact img, .top .time img{
    margin-right: 1rem;
}
.navbar a{
    text-decoration: none;
    color: var(--secondary);
    font-family: "Raleway-semiblod";
    font-size: 1rem;
    padding: 1rem 1.5rem;
    transition: all .3s ease;
}
.navbar a.active{
    background: var(--primary);
    color: var(--pure);
}
.navbar a:hover{
    background: var(--primary);
    color: var(--pure);
}
.magic-shadow{
    position: relative;
    background: var(--heaven);
}
.magic-shadow:after{
    content: '';
    display: block;
    width: 100%;
    height: 69px;
    background-image: url(../icons/shadow.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: -18px;
    z-index: -1;
}
.magic-shadow-sm{
    position: relative;
    background: var(--heaven);
}
.magic-shadow-sm:after{
    content: '';
    display: block;
    width: 90%;
    height: 69px;
    background-image: url(../icons/shadow-sm.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: -20px;
    z-index: -1;
}
.hero{
    height: 600px;
    background-image: url(../images/hero.png);
    background-position: 0% 0%;
    background-repeat: no-repeat;
    overflow: hidden;
}
.hero .container{
    position: relative;
}
.hero .welcome{
    margin-bottom: 0.25rem;
}
.hero .welcome span{
    font-family: "Raleway-bold";
    color: var(--secondary);
    margin-right: 0.75rem;
}
.hero h1{
    font-family: "Raleway-extrabold";
    color: var(--secondary);
    font-size: 2.5rem;
    margin-bottom: 0.75rem;
}
.hero h1 span{
    color: var(--primary);
}
.hero p{
    font-family: "Raleway-medium";
    width: 50%;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}
.hero button:first-child{
    margin-right: 0.50rem;
}
.hero .hero-image{
    position: absolute;
    top: -40px;
    right: 40px;
}


/* ----- top product section------ */
section{
    padding: 4rem 0;
}
section.top-products{
    background: var(--light);
}
.section-heading{
    font-family: "Raleway-bold";
    text-align: center;
    position: relative;
    margin-bottom: 6rem;
}
.section-heading::after{
    content: '';
    display: block;
    width: 100%;
    height: 30px;
    background-image: url(../icons/hr.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: -40px;
}
section.top-products .food-slider .food-card{
    background: var(--heaven);
    padding: 1.5rem;
    border-radius: 4px;
}
section.top-products .food-slider .food-card .product-image img{
    width: 80%;
    height: 200px;
    object-fit: contain;
    padding-bottom: 1rem;
}
hr{
    border: 1px solid var(--light);
    opacity: 0.8;
    margin: 1rem 0;
}
section.top-products .food-slider .food-card h2{
    font-family: "raleway-bold";
    font-size: 1.3;
    margin-bottom: 00.25rem;
}
section.top-products .food-slider .food-card .stars{
    margin-bottom: 0.5rem;
}
section.top-products .food-slider .food-card .stars img{
    margin-right: 0.25rem;
}
section.top-products .food-slider .food-card  .price{
    font-family: "raleway-medium";
    color: var(--danger);
    margin-bottom: 1rem;
}
section.top-products .food-slider .food-card button{
    font-family: "raleway-medium";
    color: var(--secondary);
    background: var(--heaven);
    border: 2px solid var(--primary);
    border-radius: 4px;
    display: flex;
    align-items: center;
    width: 50%;
    font-size: 1rem;
    cursor: pointer;
    transition: all .3s ease;
}
section.top-products .food-slider .food-card button:hover{
    background: var(--primary);
    color: var(--heaven);
}
.food-slider .food-card button img{
    background: var(--primary);
    padding: 0.50rem;
    height: 32px;
    margin-right: 1.2rem;
}
.slick-slide{
    margin: 0 27px;
}
.slick-list{
    margin: 0 -27px;
}
.top-products .slider-btn{
    width: 30px;
    height: 30px;
    border: none;
    background: var(--primary);
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}
.prev-btn{
    position: absolute;
    top: 46%;
    left: -3rem;
    z-index: 1;
}
.next-btn{
    position: absolute;
    top: 46%;
    right: -3rem;
    z-index: 1;
}
.top-products .slider{
    position: relative;
}
.top-products .btn-wrapper{
    margin-top: 2rem;
}
.slick-track{
    padding: 1rem 0;
}
section.about-meal img{
    width: 85%;
}
section.about-meal h2{
    font-family: "raleway-bold";
    font-size: 1.4rem;
    color: var(--secondary);
    margin-bottom: 2rem;
    line-height: 1.3rem;
}
section.about-meal p{
    line-height: 1.7;
    margin-bottom: 4rem;
}

section.our-services{
    background: var(--light);
}
section.our-services .card-wrapper{
    margin-right: -2rem;
    margin-top: 8rem;
}
section.our-services .service-card{
    background: var(--heaven);
    text-align: center;
    padding-top: 4rem;
    padding: 2rem;
    margin-right: 2rem;
    position: relative;
    border-radius: 4px;
}
section.our-services .service-card .icon{
    position: absolute;
    top: -55px;
    left: 50%;
    transform: translateX(-50%);
}
section.our-services .service-card h2{
    font-family: "raleway-bold";
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
section.our-services .service-card p{
    line-height: 1.6;
    margin-bottom: 1rem;
}




/* big deal start */

section.big-deal {
    background: linear-gradient(rgba(35,43,56,0.9),rgba(35,43,56,0.9)),url(../images/food-table.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
}

section.big-deal .timer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -2rem;
    margin-bottom: 2rem;
}
section.big-deal .timer div{
    margin-right: 2rem;
    background: var(--primary);
    width: 150px;
    height: 150px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section.big-deal .timer div span:first-child{
    font-family: "Raleway-semibold";
    font-size: 2.5rem;
    color: var(--heaven);
    margin-bottom: 0.05rem;
}
section.big-deal .timer div span:last-child{
    font-family: "Raleway-medium";
    color: var(--heaven);
}
.text-pure{
    color: var(--pure);
}

/* ------latest news------  */

section.latest-news{
    background: var(--light);
    position: relative;
    z-index: 0;
}
section.latest-news .article-wrapper{
    display: flex;
    margin-right: -2rem;
}
.latest-news .article-wrapper .card{
    margin-right: 2rem;
    background: var(--heaven);
    border-radius: 4px;
}
.latest-news .article-wrapper .card img{
    width: 100%;
}
.latest-news .article-wrapper .card .card-content{
    padding: 2rem;
}
.latest-news .article-wrapper .card .card-content .post-meta{
    margin-bottom: 1rem;
}
.latest-news .article-wrapper .card .card-content .post-meta .comment-count{
    margin-left: 1rem;
}
.latest-news .article-wrapper .card .card-content h2{
    font-family: "Raleway-bold";
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
.latest-news .article-wrapper .card .card-content p{
    line-height: 1.6;
}
.latest-news .btn-wrapper{
    margin-top: 2rem;
}